html{
  scroll-behavior: smooth;
}
body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
}
.--bg-section-grays{
  background: #F3F3F3;
}
.--padding-off{
  padding: 0;
}
.--bg-nav-header{
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
$font-family:'Exo', sans-serif;
$font-color-black:#575C6B;
$font-color-white:#FFFFFF;
$font-color-orange:#FF7700;
$font-color-grays:#B7B4B4;
$font-color-yellow:#FFC300;
$font-color-orange-text:#FF6E00;
$font-color-black-bold:#4A4A4A;
$button-color: #CC2229;
$bg-orange-gradient: linear-gradient(317.76deg, #FFA600 40.02%, #FF7800 68.68%, #FF6D00 83.15%);
$bg-nav-footer: #9095A4;

